In [1]:
# 1. Print numbers from 1 to 5

In [2]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [3]:
for i in range(1,6):
    print("for loop 1:",i)

for loop 1: 1
for loop 1: 2
for loop 1: 3
for loop 1: 4
for loop 1: 5

In [4]:
# 2. Print each letter in a string

In [5]:
for i in "hello":
    print(i)

h
e
l
l
o

In [6]:
# 3. Sum of numbers in a list

In [7]:
numbers = [1, 2, 3, 4, 5,6,7,8,9,10]
total = 0
for i in numbers:
    total += i
print("For Loop 3 Total:", total)

For Loop 3 Total: 55

In [8]:
# 4. Print even numbers from 1 to 10

In [9]:
for i in range(1, 20):
    if i % 2 == 0:
        print(" Even:", i)

 Even: 2
 Even: 4
 Even: 6
 Even: 8
 Even: 10
 Even: 12
 Even: 14
 Even: 16
 Even: 18

In [10]:

# 5. Print multiplication table of 3

In [13]:
for i in range(1,11):
 print("multiplication of 3 table is : ",3, "x", i, "=", 3 * i)

multiplication of 3 table is :  3 x 1 = 3
multiplication of 3 table is :  3 x 2 = 6
multiplication of 3 table is :  3 x 3 = 9
multiplication of 3 table is :  3 x 4 = 12
multiplication of 3 table is :  3 x 5 = 15
multiplication of 3 table is :  3 x 6 = 18
multiplication of 3 table is :  3 x 7 = 21
multiplication of 3 table is :  3 x 8 = 24
multiplication of 3 table is :  3 x 9 = 27
multiplication of 3 table is :  3 x 10 = 30

In [14]:
# 6. Iterate over list with index

In [15]:
fruits = ["apple", "banana", "cherry" , "grapes"]
for i in range(len(fruits)):
    print("For Loop 6:", i, fruits[i])

For Loop 6: 0 apple
For Loop 6: 1 banana
For Loop 6: 2 cherry
For Loop 6: 3 grapes

In [16]:
# 7. Print squares of numbers

In [17]:
for i in range(6):
    print("Square of", i, "is", i ** 2)

Square of 0 is 0
Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25

In [18]:
for i in range(6):
    print( i ** 2)

0
1
4
9
16
25

In [19]:
# 8. Loop over dictionary

In [21]:
student = {"name": "Alice", "age": 20}
for key in student:
    print("information of student", key, "->", student[key])

information of student name -> Alice
information of student age -> 20

In [22]:
# 9. Nested loop for pairs

In [23]:
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

In [24]:
# 10. Loop over a set

In [31]:
colors = {"red", "blue", "green"}
for color in colors:
    print("For Loop 10 Color:", color)

For Loop 10 Color: green
For Loop 10 Color: red
For Loop 10 Color: blue

In [32]:
shades = {"red", "blue", "green"}
for color in shades:
    print("shades is:", color)

shades is: green
shades is: red
shades is: blue

In [33]:
# 11. Loop with break

In [34]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [35]:
# 12. Loop with continue

In [36]:
for i in range(20):
    if i == 15:
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19

In [37]:
# 13. Reverse a string

In [38]:
s = "data science"
for char in reversed(s):
    print("For Loop 13 Reverse:", char)

For Loop 13 Reverse: e
For Loop 13 Reverse: c
For Loop 13 Reverse: n
For Loop 13 Reverse: e
For Loop 13 Reverse: i
For Loop 13 Reverse: c
For Loop 13 Reverse: s
For Loop 13 Reverse:
For Loop 13 Reverse: a
For Loop 13 Reverse: t
For Loop 13 Reverse: a
For Loop 13 Reverse: d

In [43]:
# 14. Loop through two lists

In [45]:
names = ["sarath", "sathvik", "sushma"]
age = [30, 20, 25]
for name, age in zip(names, age):
    print("details:", name, age)

details: sarath 30
details: sathvik 20
details: sushma 25

In [46]:
# 15. Nested list

In [47]:
matrix = [[1, 2], [3, 4]]
for row in matrix:
    for value in row:
        print("For Loop 15 Matrix Value:", value)

For Loop 15 Matrix Value: 1
For Loop 15 Matrix Value: 2
For Loop 15 Matrix Value: 3
For Loop 15 Matrix Value: 4

In [53]:
car = [["ford", "honda"], ["kia", "audi"]]
for row in car:
    for value in row:
        print("collection of cars:", value)

collection of cars: ford
collection of cars: honda
collection of cars: kia
collection of cars: audi

In [54]:
# 16. List comprehension

In [55]:
squares = [x**2 for x in range(5)]
print("For Loop 16 Squares:", squares)

For Loop 16 Squares: [0, 1, 4, 9, 16]

In [60]:
for i in range(5):
    print("squares:" ,i*i)

squares: 0
squares: 1
squares: 4
squares: 9
squares: 16

In [61]:
# 17. Loop with else

In [64]:
for i in range(5):
 if i<10:
    print("true")
else:
    print("false")

true
true
true
true
true
false

In [65]:
for i in range(3):
    print("For Loop 17:", i)
else:
    print("For Loop 17: Done")

For Loop 17: 0
For Loop 17: 1
For Loop 17: 2
For Loop 17: Done

In [66]:
# 18. Filter vowels

In [67]:
for char in "education":
    if char in 'aeiou':
        print("For Loop 18 Vowel:", char)

For Loop 18 Vowel: e
For Loop 18 Vowel: u
For Loop 18 Vowel: a
For Loop 18 Vowel: i
For Loop 18 Vowel: o

In [68]:
for letters in "edukron":
    if letters in 'aeiou':
        print(" the filter vowels:", letters)

 the filter vowels: e
 the filter vowels: u
 the filter vowels: o

In [69]:
# 19. ASCII values

In [70]:
for char in "AB":
    print(" ascii values", char, ":", ord(char))

 ascii values A : 65
 ascii values B : 66

In [71]:
## while loops examples

In [74]:
# 1. Count from 1 to 10

i = 1
while i <= 10:
    print("While Loop 1 values:", i)
    i += 1

While Loop 1 values: 1
While Loop 1 values: 2
While Loop 1 values: 3
While Loop 1 values: 4
While Loop 1 values: 5
While Loop 1 values: 6
While Loop 1 values: 7
While Loop 1 values: 8
While Loop 1 values: 9
While Loop 1 values: 10

In [75]:
# 2. Print even numbers less than 10

In [77]:
i = 2
while i < 20:
    print("While Loop 2 Even:", i)
    i += 2

While Loop 2 Even: 2
While Loop 2 Even: 4
While Loop 2 Even: 6
While Loop 2 Even: 8
While Loop 2 Even: 10
While Loop 2 Even: 12
While Loop 2 Even: 14
While Loop 2 Even: 16
While Loop 2 Even: 18

In [78]:
# 3. Sum until 100

In [82]:
sum = 0
i = 1
while sum < 200:
    sum += i
    i += 1
print(" sum is:", sum)

 sum is: 210

In [ ]:
# 4. Countdown from 5

In [88]:
i = 5
while i > 0:
    print("While Loop 4 Countdown:", i)
    i -= 1

While Loop 4 Countdown: 5
While Loop 4 Countdown: 4
While Loop 4 Countdown: 3
While Loop 4 Countdown: 2
While Loop 4 Countdown: 1

In [ ]:
# 5. Infinite loop with break

In [89]:
i = 0
while True:
    print("infinite loop", i)
    if i == 2:
        break
    i += 1

infinite loop 0
infinite loop 1
infinite loop 2

In [87]:
print("hello world")

hello world

In [90]:
# 6. Loop with continue

In [92]:
i=0
while i<10:
    i+=1
    if i==3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10

In [93]:
# 7. Print powers of 2 below 100

In [94]:
i = 1
while i < 100:
    print("Power of 2:", i)
    i *= 2

Power of 2: 1
Power of 2: 2
Power of 2: 4
Power of 2: 8
Power of 2: 16
Power of 2: 32
Power of 2: 64

In [95]:
i = 1
while i < 100:
    i *=2
    print("While Loop 7 Power of 2:", i)

While Loop 7 Power of 2: 2
While Loop 7 Power of 2: 4
While Loop 7 Power of 2: 8
While Loop 7 Power of 2: 16
While Loop 7 Power of 2: 32
While Loop 7 Power of 2: 64
While Loop 7 Power of 2: 128

In [96]:
# 8. Loop over list
lst = [1, 2, 3]
i = 0
while i < len(lst):
    print("List Item:", lst[i])
    i += 1

List Item: 1
List Item: 2
List Item: 3

In [99]:
# 9. Input validation
x = ""
while x != "yes":
    x = "yes"  # In real case, use input()
    print(x)

yes

In [100]:
# 10. Factorial using while

In [101]:
n = 5
fact = 1
while n > 0:
    fact *= n
    n -= 1
print("While Loop 10 Factorial:", fact)

While Loop 10 Factorial: 120

In [102]:
# 11. Loop through characters

In [103]:
s = "data science"
i = 0
while i < len(s):
    print("Char:", s[i])
    i += 1

Char: d
Char: a
Char: t
Char: a
Char:
Char: s
Char: c
Char: i
Char: e
Char: n
Char: c
Char: e

In [ ]:
# 12. Loop with else

In [106]:
i = 0
while i < 3:
    print("While Loop 12:", i)
    i += 1
else:
    print("While Loop 12: Done")

While Loop 12: 0
While Loop 12: 1
While Loop 12: 2
While Loop 12: Done

In [107]:
# 13. Print digits of number

In [108]:
n = 150
while n > 0:
    print("Digit:", n % 10)
    n //= 10

Digit: 0
Digit: 5
Digit: 1

In [109]:

# 14. Nested while loop

In [110]:
i = 0
while i < 2:
    j = 0
    while j < 2:
        print("While Loop 14 Pair:", i, j)
        j += 1
    i += 1

While Loop 14 Pair: 0 0
While Loop 14 Pair: 0 1
While Loop 14 Pair: 1 0
While Loop 14 Pair: 1 1

In [111]:
# 15. Print odd numbers

In [112]:
i = 1
while i < 10:
    print(" Odd:", i)
    i += 2

 Odd: 1
 Odd: 3
 Odd: 5
 Odd: 7
 Odd: 9

In [113]:
# 16. Check prime

In [114]:
n = 7
i = 2
is_prime = True
while i < n:
    if n % i == 0:
        is_prime = False
        break
    i += 1
print("While Loop 16 Prime:", is_prime)

While Loop 16 Prime: True

In [115]:
# 17. Reverse number
num = 123
rev = 0
while num > 0:
    rev = rev * 10 + num % 10
    num //= 10
print("While Loop 17 Reverse:", rev)

While Loop 17 Reverse: 321

In [116]:
# 18. Print Fibonacci up to 10
a, b = 0, 1
while b <= 10:
    print("While Loop 18 Fibonacci:", b)
    a, b = b, a + b

While Loop 18 Fibonacci: 1
While Loop 18 Fibonacci: 1
While Loop 18 Fibonacci: 2
While Loop 18 Fibonacci: 3
While Loop 18 Fibonacci: 5
While Loop 18 Fibonacci: 8

In [117]:

# 19. Loop to find first multiple of 7 > 50

In [119]:
n = 55
while n % 7 != 0:
    n += 1
print("While Loop 19 First Multiple of 7 > 50:", n)

While Loop 19 First Multiple of 7 > 50: 56

In [120]:
# 20. Check palindrome

In [121]:
word = "madam"
i = 0
j = len(word) - 1
is_palindrome = True
while i < j:
    if word[i] != word[j]:
        is_palindrome = False
        break
    i += 1
    j -= 1
print("While Loop 20 Palindrome:", is_palindrome)

While Loop 20 Palindrome: True

In [122]:
## ifelse examples

In [123]:
# 1. Check even or odd

In [124]:
num = 6
if num%2==0:
     print("even")
else:
    print("odd")

even

In [125]:
# 2. Positive, Negative or Zero

In [133]:
n = 10
if n > 0:
    print("Positive")
elif n < 0:
    print("If-Else 2: Negative")
else:
    print("If-Else 2: Zero")

Positive

In [134]:
# 3. Check eligibility

In [135]:
age =20
if age > 18:
    print("Eligible to vote")
else:
    print("right not to vote")

Eligible to vote

In [136]:
# 4. Max of two

In [137]:
a=10
b=5
if a > b:
    print(" Max is", a)
else:
    print(" Max is", b)

 Max is 10

In [138]:
# 5. Grading

In [139]:
score = 85
if score >= 90:
    print(" A")
elif score >= 80:
    print("B")
else:
    print("C")

B

In [140]:
# 6. Check divisor

In [141]:
a = 50
if a % 5 == 0:
    print(" Divisible by 5")

 Divisible by 5

In [142]:
# 7. Username match

In [144]:
username = "sowjanya"

In [149]:
username = "sowjanya"
if username == "sowjanya":
    print("Welcome admin")

Welcome admin

In [150]:
# 8. Password check

In [151]:
password = "1234@56"
if password == "1234":
    print("If-Else 8: Access granted")
else:
    print("If-Else 8: Access denied")

If-Else 8: Access denied

In [152]:
# 9. Number in range

In [155]:
num = 8
if 1 <= num <= 10:
    print("If-Else 9: In range")

If-Else 9: In range

In [156]:

# 10. Leap year check

In [157]:
year = 2020
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("If-Else 10: Leap Year")
else:
    print("If-Else 10: Not Leap Year")

If-Else 10: Leap Year

In [158]:
# 11. Check type

In [159]:
value = "123"
if isinstance(value, str):
    print("If-Else 11: It’s a string")

If-Else 11: It’s a string

In [160]:
# 12. Check alphabet

In [161]:
char = 'a'
if char.isalpha():
    print("Alphabet")

Alphabet

In [162]:

# 13. Check upper or lower

In [163]:
char = 'DATA'
if char.isupper():
    print("Uppercase")
else:
    print("Lowercase")

Uppercase

In [164]:
# 14. Vowel or consonant

In [166]:
ch = 'g'
if ch in 'aeiou':
    print("Vowel")
else:
    print("Consonant")

Consonant

In [167]:
# 15. Login validation

In [168]:
uname = "rajii"
pwd = "pass"
if uname == "rajii" and pwd == "pass":
    print("Login Successful")
else:
    print("Login Failed")

Login Successful

In [169]:
# 16. Triangle type

In [170]:
a, b, c = 5, 3, 6
if a == b == c:
    print("If-Else 16: Equilateral")
elif a == b or b == c or a == c:
    print("If-Else 16: Isosceles")
else:
    print("If-Else 16: Scalene")

If-Else 16: Scalene

In [171]:
# 17. Age group

In [172]:
age = 50
if age < 13:
    print("Child")
elif age < 20:
    print("Teen")
else:
    print("Adult")

Adult

In [173]:
# 18. Check last digit

In [174]:
n = 150
if n % 10 == 3:
    print("Ends with 3")

In [175]:
# 19. Number length

In [178]:
n = 1234
if len(str(n)) == 4:
    print(" 4-digit number")

 4-digit number

In [179]:
# 20. Compare strings

In [180]:
s1 = "hello edukron"
s2 = "world"
if s1 < s2:
    print("s1 comes before s2")

s1 comes before s2